.correct {
  background-color: #d4edda;
  color: #155724;
}
.incorrect {
  background-color: #f8d7da;
  color: #721c24;
}

button {
  position: absolute;
  margin-right: 20px;
  margin-bottom: 10px;
  right: 0;
}
