.subtitle {
  padding: 10px 0 20px;
  display: flex;
}

mat-slide-toggle {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
}

mat-card-title {
  min-height: 3em;
}
