<mat-card-header>
  <mat-slide-toggle
    [checked]="isAutoReply"
    labelPosition="before"
    (change)="onToggleChange($event.checked)"
    >auto
  </mat-slide-toggle>
  <mat-card-subtitle class="subtitle space-between">
    <div>Question {{ currentQuestionIndex + 1 }}</div>
  </mat-card-subtitle>
  <mat-card-title class="title">{{ _question.title }}</mat-card-title>
</mat-card-header>
<mat-card-content class="content">
  <mat-selection-list
    #list
    [multiple]="false"
    (selectionChange)="selectOption($event)"
  >
    <mat-list-option
      *ngFor="let option of _question.optionsList; let i = index"
      [value]="i | indexLetter"
    >
      {{ option }}
    </mat-list-option>
  </mat-selection-list>
</mat-card-content>
