<h1 class="quiz-title">{{quiz.courseTitle}}: {{ quiz.title }}</h1>
<mat-card class="quiz-card">
  <mat-progress-bar color="pimary" mode="determinate"
    [value]="(currentQuestionIndex+1)/quiz.questionsList.length*100" />
  <question #optionElement [question]="quiz.questionsList[currentQuestionIndex]"
    [currentQuestionIndex]="currentQuestionIndex" 
    (optionSelected)="selectOption($event)" (toogleChange)="toogleAutoReply($event)"></question>
  <mat-card-actions class="button-container space-between">
    <div>
      <button mat-button (click)="resetQuiz()">
          Reset
        </button>
      <button mat-button (click)="goToList()">List</button>
    </div>
    <button
              mat-raised-button
              color="primary"
              (click)="submitAnswer()"
              [disabled]="isAutoReply"
            >
            NEXT
            </button>
  </mat-card-actions>
</mat-card>