<h1 class="quiz-title">{{quiz.courseTitle}}: {{ quiz.title }}</h1>
<mat-card class="quiz-card">
  <mat-progress-bar color="pimary" mode="determinate"
    [value]="(questionIndex+1)/questoinsWithResults.length*100" />
  
  <question #optionElement [question]="questoinsWithResults[questionIndex]"
    [isToggleEnabled]="isLocalResultOn"
    [currentQuestionIndex]="questionIndex" 
    (optionSelected)="selectOption($event)" (toogleChange)="onToogleChange($event)"></question>

  <mat-card-actions class="button-container space-between">
    <div>
      <button mat-button (click)="resetQuiz()">
          Reset
        </button>
      <button mat-button (click)="goToList()">List</button>
    </div>
  </mat-card-actions>
</mat-card>