<h1 class="quiz-title">{{ quiz.courseTitle }}: {{ quiz.title }}</h1>
<mat-card class="quiz-card">
  <mat-progress-bar
    color="primary"
    mode="determinate"
    [value]="((questionIndex + 1) / questoinsWithResults.length) * 100"
  ></mat-progress-bar>

  <question
    #optionElement
    [question]="questoinsWithResults[questionIndex]"
    [isToggleEnabled]="isLocalResultOn"
    [currentQuestionIndex]="questionIndex"
    (toogleChange)="onToogleChange($event)"
  >
    <question-options
      #optionsList
      *ngIf="!isResultSet"
      [options]="questoinsWithResults[questionIndex].optionsList"
      (optionSelected)="onSelectOption($event)"
    ></question-options>

    <app-quiz-question-result
      *ngIf="isResultSet"
      [isSingle]="true"
      [question]="questionWithResultGuard(questoinsWithResults[questionIndex])"
    ></app-quiz-question-result>
  </question>

  <mat-card-actions class="button-container space-between">
    <div>
      <button mat-button (click)="goToList()">
        {{ isLastQuizInCourse ? 'Course' : '' }} List
      </button>
      <button mat-button (click)="resetQuiz()">Reset</button>
    </div>
    <button
      *ngIf="isResultSet"
      [appFocusOnEnable]="isResultSet"
      mat-raised-button
      color="primary"
      (click)="nextQuestion()"
    >
      Next
    </button>
  </mat-card-actions>
</mat-card>
