.page-content {
  padding-top: 100px;
  min-width: 600px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

mat-card {
  min-width: 600px;
  max-width: 800px;
}
