html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Lato', sans-serif;
}
