@use 'sass:map';
@use '@angular/material' as mat;

:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.menu-nav-button {
  position: fixed;
  margin-left: 20px;

  top: 20px;

  &.is-open mat-icon {
    margin-left: 8px;
  }
  mat-icon {
    margin-left: 4px;
  }
}

.mat-sidenav-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .list-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;

    mat-action-list {
      flex: 0 1 auto;

      &:last-of-type {
        padding-bottom: 20px;
      }
    }
  }
}

mat-divider {
  color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 800);
}

.mat-sidenav {
  min-width: 300px;

  @media (prefers-color-scheme: dark) {
    background-color: mat.get-color-from-palette(
      mat.define-palette(mat.$grey-palette),
      900
    );
  }
}
