<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mat-theme="dark"
    mode="side"
    [opened]="menuService.isMenuOpen | async"
  >
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <div class="list-container">
      <mat-action-list>
        <button
          mat-list-item
          *ngFor="let course of courses"
          (click)="openCourse(course.id)"
        >
          {{ course.title }}
        </button>
      </mat-action-list>

      <mat-action-list class="settings-container">
        <mat-divider></mat-divider>
        <button
          (click)="updateVoiceOver()"
          mat-list-item
          focus-remover
          class="settings-button"
          [class.active]="voiceOverSettings.isActive"
        >
          <span matListItemTitle>{{ voiceOverSettings.title }}</span>
          <mat-icon matListItemIcon>{{ voiceOverSettings.icon }}</mat-icon>
          {{ voiceOverSettings.subtitle }}
        </button>
      </mat-action-list>
    </div>
  </mat-sidenav>
  <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
</mat-sidenav-container>
