<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mat-theme="dark"
    mode="side"
    [opened]="menuService.isMenuOpen | async"
  >
    <button
      *ngIf="sidenav.opened"
      class="menu-button menu-top"
      [class.is-open]="sidenav.opened"
      mat-mini-fab
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">arrow_forward_ios</mat-icon>
      <mat-icon *ngIf="sidenav.opened">arrow_back_ios</mat-icon>
    </button>

    <div class="list-container">
      <mat-action-list>
        <button
          mat-list-item
          *ngFor="let course of courses"
          (click)="openCourse(course.id)"
        >
          {{ course.title }}
        </button>
      </mat-action-list>

      <mat-action-list class="settings-container">
        <mat-divider></mat-divider>
        <app-voice-toggle></app-voice-toggle>
      </mat-action-list>
    </div>
  </mat-sidenav>

  <button
    *ngIf="!sidenav.opened"
    [class.is-open]="sidenav.opened"
    class="menu-button"
    mat-mini-fab
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">arrow_forward_ios</mat-icon>
    <mat-icon *ngIf="sidenav.opened">arrow_back_ios</mat-icon>
  </button>
  <ng-content></ng-content>
</mat-sidenav-container>
