@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat.core();
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$purple-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.card-theme($dark-theme);
@include mat.progress-bar-theme($dark-theme);
@include mat.list-theme($dark-theme);
@include mat.slide-toggle-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.card-color($light-theme);
  @include mat.progress-bar-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.slide-toggle-color($light-theme);
}
